body, html {
    width: 100%;
    height: 100%;
    padding:0px;
    background-image: url('tlo-do-strony-internetowej.jpg');
    margin:0px;
    z-index:-2;
}
.baner{
    height:5%;
    width:100%;
    background-color: grey;
   margin-top:0px;


}
h2{
    text-align:center;
font-size:40px;
}
h3 {
    color: white;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 50px;
    text-align:center;
    margin-top:0px;
}
.drzewo {
    width:50%;
    height:auto;
    border-radius:15px;
    background-color: rgba(128, 128, 128, 0.4);
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    color:white;
    font-size:large;
    padding:5px;
    border:5px rgba(0,0,0,0.5) solid;

}
.schemat{

}
.imgrozmiar{
    width:50%;
    height:auto;
    border-radius:10px;
}
.odnosnik {
    width: 250px;
    height: 200px;
    background-color: rgba(255, 255, 255,0.5);
   border-radius:10px;
   text-decoration:none;

   
}
.odnosniki{
    width :50%;
    height:18%;
    background-color: rgba(0,0,0,0.5);
    border-radius:15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding:5px;
    display:flex;
    justify-content:space-evenly;
}
h1{
    font-size: 35px;
    text-align: center;
    color:white;
}